<div class="banner-ads pt-[90px] pb-[62px] flex justify-end">
  <div class="pr-[150px] text-center flex flex-col items-center">
    <button
      class="font-medium text-white h-[45px] px-7 rounded-[20px] bg-[#EDA415]"
    >
      New laptop
    </button>

    <p class="text-[#2E8FC5] font-bold text-[41px] mt-9 leading-10">
      Sale up to 50% off
    </p>
    <p class="font-medium text-white text-lg mt-3">12 inch hd display</p>
    <button
      class="font-medium text-white h-[45px] px-7 rounded-[20px] bg-[#EDA415] mt-9"
    >
      Shop now
    </button>
  </div>
</div>
