<div class="border border-[#C8C8C8] rounded-[20px] px-4 py-10 flex gap-x-8">
  <div class="w-[318px] h-[288px]">
    <img src="{{ data.thumbnail }}" alt="" class="block w-full h-full" />
  </div>

  <div class="flex-1">
    <div
      class="border border-[#D4D4D4] h-10 px-5 rounded-full inline-flex items-center text-[#1B5A7D] font-medium text-xl"
    >
      {{ data.createdAt }}
    </div>
    <h2 class="text-[#1B5A7D] font-semibold text-[22px] mt-2">
      {{ data.title }}
    </h2>

    <p class="text-[#003F62] text-sm mt-[18px] mb-11">
      {{ data.description }}
    </p>

    <p class="text-sm text-[#003F62]">By {{ data.author }}</p>
  </div>
</div>
