<div class="banner mt-9">
  <div class="container mx-auto">
    <div class="flex justify-between items-center mx-14">
      <div>
        <p class="font-bold text-[#1B5A7D] text-[43px]">Canon</p>
        <p class="font-bold text-[#1B5A7D] text-[43px]">camera</p>

        <div class="flex font-semibold h-[60px] gap-x-4 mt-5">
          <button class="w-[144px] rounded-[20px] bg-[#EDA415] text-white">
            Shop now
          </button>

          <button
            class="w-[144px] rounded-[20px] border border-[#316887] text-[#316887]"
          >
            View more
          </button>
        </div>
      </div>

      <div class="w-[330px] h-[356px] relative">
        <img src="assets/canon-camera.png" alt="" class="block w-full h-full" />

        <div
          class="absolute bottom-12 -right-10 flex-col rounded-full justify-center text-white w-[120px] h-[115px] flex items-center font-semibold text-xl bg-[#EDA415]"
        >
          <p>only</p>
          <p>$89</p>
        </div>
      </div>
    </div>
  </div>
</div>
