<h2 class="font-semibold text-xl">Category Add</h2>

<form
  action=""
  class="bg-white p-3 rounded mt-4"
  [formGroup]="addForm"
  (ngSubmit)="onAdd()"
>
  <div class="mb-4">
    <label for="" class="font-medium block">Category Name *</label>
    <input
      type="text"
      class="border border-gray-300 mt-2 w-full rounded px-3 py-2 outline-none"
      placeholder="Category Name"
      formControlName="name"
    />
    <p
      class="text-sm mt-1"
      *ngIf="
        !addForm.controls.name.valid &&
        (addForm.controls.name.dirty || addForm.controls.name.touched)
      "
    >
      Please enter name!
    </p>
  </div>

  <div class="mb-4">
    <label for="" class="font-medium block">Category Image *</label>
    <input
      type="text"
      class="border border-gray-300 mt-2 w-full rounded px-3 py-2 outline-none"
      placeholder="Category Image"
      formControlName="image"
    />
    <p
      class="text-sm mt-1"
      *ngIf="
        !addForm.controls.image.valid &&
        (addForm.controls.image.dirty || addForm.controls.image.touched)
      "
    >
      Please enter image!
    </p>
  </div>

  <button
    [disabled]="!addForm.valid"
    class="bg-[#3c50e0] w-full rounded py-2 text-white font-semibold [&:disabled]:opacity-45"
  >
    Add Category
  </button>
</form>
