<footer class="py-11 bg-[#E2F4FF]">
  <div class="container mx-auto">
    <div
      class="min-h-[140px] bg-white flex items-center rounded-[20px] px-12 justify-between"
    >
      <p class="text-[#1B5A7D] font-bold text-3xl">Subscribe newsletter</p>

      <div
        class="bg-[#EDA415] h-[62px] rounded-[20px] px-5 flex items-center w-[388px] max-w-full"
      >
        <input
          type="email"
          name=""
          id=""
          class="bg-transparent flex-1 outline-none text-white [&::placeholder]:text-white text-sm font-semibold [&::placeholder]:font-semibold [&::placeholder]:text-sm"
          placeholder="Email address"
        />

        <div class="text-white text-lg cursor-pointer">
          <i class="fa-regular fa-paper-plane"></i>
        </div>
      </div>

      <div class="flex gap-x-5">
        <div class="text-[#EDA415] text-5xl">
          <i class="fa-solid fa-headphones-simple"></i>
        </div>

        <div class="text-[#606060] font-semibold text-sm">
          <p>Call us 24/7:</p>
          <p>(+62) 0123 567 789</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 mt-10 gap-x-20">
      <div>
        <img src="assets/logo-v2.svg" alt="" class="h-10" />

        <p class="mt-10 text-[#1B5A7D]">
          64 st james boulevard hoswick , ze2 7zj
        </p>

        <div
          class="mt-9 pt-6 border-t border-t-[#9D9D9D] flex items-center gap-x-9"
        >
          <div class="text-2xl text-[#3B3B3B]">
            <i class="fa-brands fa-google"></i>
          </div>
          <div class="text-2xl text-[#3B3B3B]">
            <i class="fa-brands fa-facebook"></i>
          </div>
          <div class="text-2xl text-[#3B3B3B]">
            <i class="fa-brands fa-whatsapp"></i>
          </div>
        </div>
      </div>

      <div>
        <h2 class="text-[#1B5A7D] text-xl font-semibold mb-3">Find product</h2>

        <ul class="flex flex-col gap-y-4">
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Brownze arnold</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Chronograph blue</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Smart phones</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Automatic watch</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Hair straighteners</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-[#1B5A7D] text-xl font-semibold mb-3">Get help</h2>

        <ul class="flex flex-col gap-y-4">
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">About us</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Contact us</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Return policy</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Privacy policy</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Payment policy</a>
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-[#1B5A7D] text-xl font-semibold mb-3">About us</h2>

        <ul class="flex flex-col gap-y-4">
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">News</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Service</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Our policy</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Custmer care</a>
          </li>
          <li class="flex items-center gap-x-3">
            <span class="w-[10px] h-[10px] rounded-full bg-[#D9D9D9]"></span>
            <a href="" class="text-[#1B5A7D] text-lg">Faq’s</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
